# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [19]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [22]:
chipo = pd.read_csv(url,'\t')

### Step 4. See the first 10 entries

In [23]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. What is the number of observations in the dataset?

In [24]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [26]:
# Solution 2

chipo.index.max()

4621

### Step 6. What is the number of columns in the dataset?

In [32]:
chipo.columns.nunique()

5

### Step 7. Print the name of all the columns.

In [36]:
 for i in chipo.columns:
     print(i)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

### Step 9. Which was the most-ordered item?

In [39]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [79]:
chipo.groupby(['item_name']).sum().sort_values(['quantity'],ascending=False).head(3)

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506

### Step 10. For the most-ordered item, how many items were ordered?

In [82]:
chipo.groupby(['item_name']).sum().sort_values(['quantity'],ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [116]:
chipo.head(30)

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
6,3,1,Side of Chips,NaN,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,9.25
10,5,1,Chips and Guacamole,NaN,4.45,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75,8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
14,7,1,Chips and Guacamole,NaN,4.45,4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49,8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49,8.49
18,9,2,Canned Soda,[Sprite],2.18,4.36
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75,8.75
20,10,1,Chips and Guacamole,NaN,4.45,4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99,8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],3.39,3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
24,12,1,Izze,[Grapefruit],3.39,3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49,8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.99,8.99
28,14,1,Canned Soda,[Dr. Pepper],1.09,1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49,8.49

In [86]:
chipo.groupby(['choice_description']).sum().sort_values(['quantity'],ascending=False)

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
...                                                      ...       ...
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       577         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       585         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       235         1
[Roasted Chili Corn Salsa, [Guacamole, Sour Cre...       987         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

### Step 12. How many items were orderd in total?

In [87]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [95]:
type(chipo['item_price'][0])

str

#### Step 13.b. Create a lambda function and change the type of item price

In [100]:
chipo['item_price']=chipo['item_price'].apply(lambda price: price.replace('$',' ')).astype(float)

#### Step 13.c. Check the item price type

In [103]:
chipo['item_price'][0]

2.39

In [102]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [109]:
chipo['total_price']=chipo.quantity*chipo.item_price

In [111]:
chipo.total_price.sum()

39237.02

### Step 15. How many orders were made in the period?

In [146]:
chipo[chipo['order_id']==926].head()

,order_id,quantity,item_name,choice_description,item_price,total_price
2304,926,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Lettuce]]",9.25,9.25
2305,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
2306,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
2307,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
2308,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Lettu...",9.25,9.25

In [142]:
chipo.order_id.value_counts()

926     23
1483    14
205     12
691     11
1786    11
        ..
105      1
702      1
718      1
568      1
800      1
Name: order_id, Length: 1834, dtype: int64

### Step 16. What is the average revenue amount per order?

In [120]:
# Solution 1
chipo.total_price.sum()/1834

21.39423118865867

In [121]:
# Solution 2
chipo['revenue'] = chipo['quantity'] * chipo['item_price']

In [125]:
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.head(3)

          quantity  item_price  total_price  revenue
order_id
1                4       11.56        11.56    11.56
2                2       16.98        33.96    33.96
3                2       12.67        12.67    12.67

In [127]:
order_grouped.mean()

quantity        2.711014
item_price     18.811429
total_price    21.394231
revenue        21.394231
dtype: float64

### Step 17. How many different items are sold?

In [132]:
chipo.drop('revenue',axis=1,inplace=True)

In [141]:
chipo.item_name.value_counts().count()

50